.card-poke__border{
    
    /* border: 10px red solid; */
    border-radius: 15px;
    /* background-color: red;
     z-index: -1; */
     padding: 10px;
     /* z-index: 1; */

}
.card-poke{
    width:100%;
    max-width: 300px;
    height: 100%;
    border-radius: 10px 10px 7px 7px;
    /* overflow: hidden; */
    background-color: var(--color-white);
}

.card-poke__header{
    height: 140px;
    border-radius: 7px 7px 0 0;
    /* background-color: green; */
    /* background-color: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%); */

    position: relative;
    margin-bottom: 65px;
}

.card-poke__img{
    width: 50%;
    position: absolute;
    top:40px;
    left: 50%;
    transform: translateX(-50%);
}
/* .card-poke__body{

} */
.card-poke__name{
    text-transform: capitalize;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

.card-poke__types-container{
    display: flex;
    justify-content: center;
    gap:15px;
}

.card-poke__type{
    font-size: 17px;
    text-transform: capitalize;
    position: relative;
}

.card-poke__type:nth-child(2)::before{
    content:'/';
    position: absolute;
    left: -10px;
}

.card-poke__type-label{
    text-align: center;
    font-size: 10px;
    color:var(--color-gray)
}
.card-poke__stats-container{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px 5px;
    justify-items: center;
    padding: 0 5px 35px;
}
.card-poke__stat{
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
}
.card-poke__stat-label{
    color: var(--color-gray);
    text-transform: uppercase;
    font-size: 0.7rem;

}

.card-poke__stat-number{
    font-weight: 700;
}

/* Borders Colors */

.border-grass{
    background: linear-gradient(178.92deg, #CAE099 0.92%, #ABDAC6 47.96%, #7EC6C5 99.08%);
}
.bg-grass{
    background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
}
.letter-grass{
    color: #aabc83;
}

.border-fire{
    background:linear-gradient(176.37deg, #E8AE1B -32.26%, #E35825 22.55%, #F96D6F 125.72%);
}
.bg-fire{
    background:linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);
}
.letter-fire{
    color: #E35825;
}

.border-water{
    background: linear-gradient(179.57deg, #82B2F1 -70.14%, #1479FB 56.16%, #133258 214.85%);
}
.bg-water{
    background: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);
}
.letter-water{
    color: #1479FB;
}

.border-bug{
    background: linear-gradient(177.56deg, #AAFFA8 -58.92%, #3BB039 16.57%, #62DB60 209.53%);
}
.bg-bug{
    background: linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%);
}
.letter-bug{
    color: #3BB039;
}

.border-normal{
    background: linear-gradient(181.51deg, #7C3F4C -6.44%, #BC6B7C 121.95%, #735259 186.11%);
}
.bg-normal{
    background: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
}
.letter-normal{
    color: #735259;
}

.border-fighting{
    background:linear-gradient(176.83deg, #CB735D -8.78%, #F1613C 169.09%, #96402A 242.33%);
}
.bg-fighting{
    background:linear-gradient(176.83deg, #96402A -8.78%, #F1613C 169.09%, #CB735D 242.33%);
}
.letter-fighting{
    color: #96402A;
}

.border-poison{
    background: linear-gradient(177.03deg, #CE9BFF -11.97%, #A564E3 71.28%, #5B3184 135.64%);
}
.bg-poison{
    background: linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);
}
.letter-poison{
    color: #5B3184;
}

.border-ghost{
    background: linear-gradient(177.03deg, #787DDA -11.97%, #454AA8 57.49%, #323569 135.64%);
}
.bg-ghost{
    background: linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);
}
.letter-ghost{
    color: #323569;
}

.border-rock{
    background: linear-gradient(177.03deg, #D3D3D3 -11.97%, #8D8D94 57.49%, #7E7E7E 135.64%);
}
.bg-rock{
    background: linear-gradient(177.03deg, #7E7E7E -11.97%, #8D8D94 57.49%, #D3D3D3 135.64%);
}
.letter-rock{
    color: #7E7E7E;
}

.border-dark{
    background: linear-gradient(177.03deg, #5A5E5D -11.97%, #8D8D94 57.49%, #030706 135.64%);
}
.bg-dark{
    background: linear-gradient(177.03deg, #030706 -11.97%, #0D1211 57.49%, #5A5E5D 135.64%);
}
.letter-dark{
    color: #030706;
}

.border-ice{
    background: linear-gradient(177.03deg, #BDEBFE -11.97%, #64CBF5 47.77%, #6FBEDF 136.72%);
}
.bg-ice{
    background: linear-gradient(177.03deg, #6FBEDF -11.97%, #64CBF5 47.77%, #BDEBFE 136.72%);
}
.letter-ice{
    color: #6FBEDF;
}

.border-steel{
    background: linear-gradient(179.75deg, #A8A8A8 -19.96%, #728881 43.67%, #5E736C 138.4%);
}
.bg-steel{
    background: linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);
}
.letter-steel{
    color: #5E736C;
}

.border-dragon{
    background:  linear-gradient(179.75deg, #A2BEC1 -19.96%, #56A4AE 43.67%, #478A93 138.4%);
}
.bg-dragon{
    background: linear-gradient(179.75deg, #478A93 -19.96%, #56A4AE 43.67%, #A2BEC1 138.4%);
}
.letter-dragon{
    color: #478A93;
}

.border-fairy{
    background:  linear-gradient(179.75deg, #CD7D98 -19.96%, #C23867 43.67%, #971B45 138.4%);
}
.bg-fairy{
    background: linear-gradient(179.75deg, #971B45 -19.96%, #C23867 43.67%, #CD7D98 138.4%);
}
.letter-fairy{
    color: #971B45;
}

.border-electric{
    background:  linear-gradient(179.75deg, #7075D9 -19.96%, #2B319B 43.67%, #0C1395 138.4%);
}
.bg-electric{
    background: linear-gradient(179.75deg, #0C1395 -19.96%, #2B319B 43.67%, #7075D9 138.4%);
}
.letter-electric{
    color: #0C1395;
}

.border-ground{
    background:  linear-gradient(179.75deg, #D69638 -19.96%, #895C1A 43.67%, #654008 138.4%);
}
.bg-ground{
    background: linear-gradient(179.75deg, #654008 -19.96%, #895C1A 43.67%, #D69638 138.4%);
}
.letter-ground{
    color: #654008;
}

.border-psychic{
    background:  linear-gradient(0deg, rgba(66,95,87,1) 0%, rgba(168,232,144,1) 50%, rgba(207,255,141,1) 100%);
}
.bg-psychic{
    background: linear-gradient(0deg, rgba(207,255,141,1) 0%, rgba(168,232,144,1) 50%, rgba(66,95,87,1) 100%);
}
.letter-psychic{
    color:  rgba(66,95,87,1);
}

.border-flying{
    background:  linear-gradient(0deg, rgba(6,40,61,1) 0%, rgba(37,109,133,1) 50%, rgba(71,181,255,1) 100%);
}
.bg-flying{
    background: linear-gradient(0deg, rgba(71,181,255,1) 0%, rgba(37,109,133,1) 50%, rgba(6,40,61,1) 100%);
}
.letter-flying{
    color: rgba(6,40,61,1);
}

.border-unknown{
    background: linear-gradient(0deg, rgba(24,24,24,1) 0%, rgba(135,88,255,1) 50%, rgba(92,184,228,1) 100%);
}
.bg-unknown{
    background: linear-gradient(0deg, rgba(92,184,228,1) 0%, rgba(135,88,255,1) 50%, rgba(24,24,24,1) 100%);
}
.letter-unknown{
    color: rgba(24,24,24,1);
}

.border-shadow{
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(21,0,80,1) 50%, rgba(63,0,113,1) 100%);
}
.bg-shadow{
    background: linear-gradient(0deg, rgba(63,0,113,1) 0%, rgba(21,0,80,1) 50%, rgba(0,0,0,1) 100%);
}
.letter-shadow{
    color: (63,0,113,1);
}

@media (min-width:680px){
    .pokemon-info__types-skills{
        flex-direction: row;
        justify-content: center;
    }
    
}
