.inputsearch-form {
    display: flex;
    flex-direction: row;
}

.inputsearch__input {
    padding: 10px 20px;
    box-shadow: -1px 2px 5px #0004;
    font-size: 1.2rem;
    height: 40px;
    border: none;

}

.inputsearch__btn {
    padding: 10px 20px;
    color: var(--color-white);
    background-color: var(--color-red);
    box-shadow: -1px 1px 10px #0004;
    font-weight: 700;
    cursor: pointer;
    height: 40px;
    border-radius: 0 5px 5px 0;
    border: none;

}

.inputsearch__btn:hover {
    filter: brightness(1.5);

}